<!-- HEADER -->
<div class="row">
	<div id="header" class="header">
		<div class="container">
			<div class="col-lg-6 col-md-6">
				<h1>The SOP Factory</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and
					typesetting industry. Lorem Ipsum has been the industry's standard
					dummy text ever since the 1500s, when an unknown printer took a
					galley of type and scrambled it to make a type specimen book. It
					has survived not only five centuries, but also the leap into
					electronic typesetting, remaining essentially unchanged.</p>
				<button class="btn btn-lg btn-primary">Buy Now</button>
				<button class="btn btn-lg btn-success">View plans</button>
			</div>
			<div class="col-lg-6 col-md-6">
				<img alt="" src="../images/sop_right_side.jpg">
			</div>
		</div>
	</div>
</div>
<!-- <div class="row" style="margin-top: 50px;">
  		<div id="header" class="header">
	    	<div class="container">
    			<h1>Hi Nikhil Pawar</h1>
    		</div>
    	</div>
    </div> -->

<!-- END OF HEADER -->